.ks-page-header {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;

  > .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  > .wrapper > .title {
    color: $color-success;
    font-size: 64px;
    font-weight: $fw-semibold;
    line-height: 1.08rem;
    letter-spacing: -1px;
    margin-bottom: 136px;

    @include breakpoint-down(tablet) {
      margin-bottom: 60px;
      font-size: 46px;
    }

    @include breakpoint-down(phone) {
      font-size: 32px;
    }
  }

  > .wrapper > .breadcrumbs {
    margin-top: 30px;
    margin-bottom: 90px;
    color: $color-gray-500;
    font-weight: $fw-medium;

    @include breakpoint-down(tablet) {
      margin: 40px 0;
      font-weight: $fw-medium;
    }

    @include breakpoint-down(phone) {
      margin: 30px 0;
      font-weight: $fw-medium;
    }
  }
}
